<div class="center-login">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
<!-- 
        <form class="example-form"> -->
            <div>
                <mat-card-content>
                    <mat-form-field class="half-width">
                        <input matInput placeholder="Firt Name" [(ngModel)]="firstName">
                    </mat-form-field>
                    <mat-form-field class="half-width">
                        <input matInput placeholder="Last Name" [(ngModel)]="lastName">
                    </mat-form-field>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username">
                        </mat-form-field>
                    </div>
                    <!-- <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Email">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Password">
                        </mat-form-field>
                    </div> -->
                </mat-card-content>
            </div>
            <button mat-stroked-button color="accent" class="btn-block" (click)="register()">Register</button>

        <!-- </form> -->
    </mat-card>
</div>