<div class="content" role="main">
  
    <div *ngIf="channel" class="container">
      <h3 class=" text-center">Stream Messaging</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="channel_heading">
                <h4>Channels</h4>
              </div>
            </div>
            <div class="inbox_chat">
              <div class="channels" *ngFor="let channel of channelList">
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_ib">
                      <h5>
                        {{ channel.name }}
                      </h5>
                      <p>
                        {{ channel.discription }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mesgs">
            <div class="msg_history">
              <div *ngFor="let message of messages">
                <div class="message">
                  <div class="incoming_msg">
                    <div class="received_msg" >
                      <div class="received_withd_msg">
                        <p>{{ message }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="message" *ngFor="let sent_messag of sentMessages">
                <div class="outgoing_msg">
                  <div class="sent_msg" >
                    <div class="received_withd_msg">
                      <p>{{ sent_messag }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="type_msg">
              <form class="input_msg_write" (ngSubmit)="sendMessages()">
                <mat-form-field class="input_field_size">
                    <input matInput
                    type="text"
                    class="write_msg"
                    placeholder="Type a message"
                    name="newMessage"
                    [(ngModel)]="newMessage"
                    />
                  </mat-form-field>
                    <button mat-button color="primary" class="msg_send_btn">
                      <mat-icon>send</mat-icon>
                    </button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>