
<div class="main-wrapper" class="center-login">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>
          Login
        </mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
            <div>
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" [(ngModel)]="username">
            </mat-form-field>
          </div>  
          <div>
            <mat-form-field class="full-width">
              <input matInput placeholder="Password">
            </mat-form-field>
          </div>
          </mat-card-content>
          <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Sign-in</button>
      </form>
    </mat-card>
  
  </div>