/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-login{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.full-width{
    width: 100%;
    border:10px
}
.half-width{
    width: 48%;
    margin: 2px;
}
.box{
    width: 500px;
}